$primary: #3e160c;
$secondary: #647551;
$lightSecondary: #637750;
$gray: #4d5b5b;
$heavyPrimary: #2d1907;
$white: #fbf9fa;
$black: #161616;

.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
}

@media (min-width: 0) {
  .videoLoading {
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
    margin: 20px;
  }
}

@media (min-width: 900px) {
  .videoLoading {
    width: 12em;
    height: 12em;
    border-radius: 100%;
    margin: 30px;
    background-color: transparent;
    opacity: 1;
  }
}
@media (min-width: 1800px) {
  .videoLoading {
    width: 15em;
    height: 15em;
    border-radius: 100%;
    margin: 50px;
  }
}
